Source: icinga
Section: net
Priority: optional
Maintainer: Debian Nagios Maintainer Group <pkg-nagios-devel@lists.alioth.debian.org>
Uploaders: Alexander Wirt <formorer@debian.org>, Jan Wagner <waja@cyconet.org>
Standards-Version: 3.9.3
Vcs-Browser: http://git.debian.org/?p=pkg-nagios/icinga.git
Vcs-Git: git://git.debian.org/pkg-nagios/icinga.git
Build-Depends: autotools-dev,
               debhelper (>= 7),
               dpatch (>= 2.0.10),
               dpkg-dev (>= 1.13.19),
               libdbi-dev | libdbi0-dev,
               libgd2-noxpm-dev (>= 2.0.1) | libgd2-xpm-dev (>= 2.0.1),
               libperl-dev,
               libpng-dev | libpng12-dev,
               po-debconf

Package: icinga-common
Architecture: all
Depends: adduser,
         bsd-mailx | mailx,
         coreutils (>= 4.5.3),
         dpkg (>= 1.16.1),
         lsb-base (>= 3.0-6),
         nagios-plugins-basic,
         ucf (>= 0.28),
         ${misc:Depends},
         ${perl:Depends}
Recommends: nagios-plugins
Description: host and network monitoring system - support files
 Icinga is a modular monitoring framework for hosts, services, and
 networks, based on the Nagios project. It is designed to be easy to
 understand and modify to fit any need.
 .
 Features include:
  * monitoring of network services via ping, SMTP, POP3, HTTP, NNTP, or
    TCP port
  * plugin interface to allow for user-developed service checks
  * contact notifications when problems occur and get resolved (via
    email, pager, or user-defined method)
  * support for proactive problem resolution (handlers can be defined to
    be run during service or host events)
  * web output: current status, notifications, problem history, log
    file, etc.
 .
 This package contains the common files for all Icinga packages.

Package: icinga-cgi
Architecture: any
Depends: adduser,
         apache2-utils,
         coreutils (>= 4.5.3),
         icinga-common (= ${source:Version}),
         libjs-jquery (>= 1.4.2-2~),
         libjs-jquery-ui,
         ucf (>= 0.28),
         ${misc:Depends},
         ${perl:Depends},
         ${shlibs:Depends}
Recommends: apache2 | httpd, nagios-images (>> 0.1)
Description: host and network monitoring system - CGI scripts
 Icinga is a modular monitoring framework for hosts, services, and
 networks, based on the Nagios project. It is designed to be easy to
 understand and modify to fit any need.
 .
 Features include:
  * monitoring of network services via ping, SMTP, POP3, HTTP, NNTP, or
    TCP port
  * plugin interface to allow for user-developed service checks
  * contact notifications when problems occur and get resolved (via
    email, pager, or user-defined method)
  * support for proactive problem resolution (handlers can be defined to
    be run during service or host events)
  * web output: current status, notifications, problem history, log
    file, etc.
 .
 This package provides CGI script files.

Package: icinga-idoutils
Architecture: any
Depends: dbconfig-common,
         icinga-common (= ${source:Version}),
         libdbd-mysql | libdbd-pgsql,
         lsb-base (>= 3.0-6),
         ucf,
         ${misc:Depends},
         ${perl:Depends},
         ${shlibs:Depends}
Recommends: mysql-client | postgresql-client
Description: host and network monitoring system - icinga-dataobjects support
 Icinga is a modular monitoring framework for hosts, services, and
 networks, based on the Nagios project. It is designed to be easy to
 understand and modify to fit any need.
 .
 Features include:
  * monitoring of network services via ping, SMTP, POP3, HTTP, NNTP, or
    TCP port
  * plugin interface to allow for user-developed service checks
  * contact notifications when problems occur and get resolved (via
    email, pager, or user-defined method)
  * support for proactive problem resolution (handlers can be defined to
    be run during service or host events)
  * web output: current status, notifications, problem history, log
    file, etc.
 .
 This package contains icinga-dataobjects support which makes it possible
 to import Icinga status information messages into an SQL database.

Package: icinga
Architecture: any
Depends: icinga-cgi (= ${binary:Version}),
         icinga-core (= ${binary:Version}),
         ${misc:Depends}
Recommends: icinga-doc
Suggests: nagios-nrpe-plugin
Description: host and network monitoring system - metapackage
 Icinga is a modular monitoring framework for hosts, services, and
 networks, based on the Nagios project. It is designed to be easy to
 understand and modify to fit any need.
 .
 Features include:
  * monitoring of network services via ping, SMTP, POP3, HTTP, NNTP, or
    TCP port;
  * plugin interface to allow for user-developed service checks
  * contact notifications when problems occur and get resolved (via
    email, pager, or user-defined method)
  * support for proactive problem resolution (handlers can be defined to
    be run during service or host events)
  * web output: current status, notifications, problem history, log
    file, etc.
 .
 This is a metapackage which depends on the Icinga core and the web
 front-end.

Package: icinga-core
Architecture: any
Depends: icinga-common (= ${source:Version}),
         ${misc:Depends},
         ${perl:Depends},
         ${shlibs:Depends}
Suggests: nagios-nrpe-plugin
Replaces: icinga
Description: host and network monitoring system - core files
 Icinga is a modular monitoring framework for hosts, services, and
 networks, based on the Nagios project. It is designed to be easy to
 understand and modify to fit any need.
 .
 Features include:
  * monitoring of network services via ping, SMTP, POP3, HTTP, NNTP, or
    TCP port
  * plugin interface to allow for user-developed service checks;
  * contact notifications when problems occur and get resolved (via
    email, pager, or user-defined method)
  * support for proactive problem resolution (handlers can be defined to
    be run during service or host events)
  * web output: current status, notifications, problem history, log
    file, etc.
 .
 This package provides the core of Icinga without the web front-end.

Package: icinga-doc
Architecture: all
Section: doc
Depends: ${misc:Depends}, ${perl:Depends}, ${shlibs:Depends}
Description: host and network monitoring system - documentation
 Icinga is a modular monitoring framework for hosts, services, and
 networks, based on the Nagios project. It is designed to be easy to
 understand and modify to fit any need.
 .
 Features include:
  * monitoring of network services via ping, SMTP, POP3, HTTP, NNTP, or
    TCP port
  * plugin interface to allow for user-developed service checks;
  * contact notifications when problems occur and get resolved (via
    email, pager, or user-defined method)
  * support for proactive problem resolution (handlers can be defined to
    be run during service or host events)
  * web output: current status, notifications, problem history, log
    file, etc.
 .
 This package provides the documentation for Icinga.

Package: icinga-dbg
Section: debug
Priority: extra
Architecture: any
Depends: icinga-core (= ${binary:Version}),
         ${misc:Depends},
         ${perl:Depends},
         ${shlibs:Depends}
Description: host and network monitoring system - debug files
 Icinga is a modular monitoring framework for hosts, services, and
 networks, based on the Nagios project. It is designed to be easy to
 understand and modify to fit any need.
 .
 Features include:
  * monitoring of network services via ping, SMTP, POP3, HTTP, NNTP, or
    TCP port
  * plugin interface to allow for user-developed service checks;
  * contact notifications when problems occur and get resolved (via
    email, pager, or user-defined method)
  * support for proactive problem resolution (handlers can be defined to
    be run during service or host events)
  * web output: current status, notifications, problem history, log
    file, etc.
 .
 This package provides gdb debugging symbols for the Icinga binaries and
 the mini_epn tool which can help in debugging Icinga problems.
