#!/bin/sh -e


. /usr/share/debconf/confmodule

conffile="/etc/icinga/icinga.cfg"

if [ -e "$conffile" ]; then
	check_external_commands="$(grep -E '^ *check_external_commands=' $conffile | sed -e 's|.*check_external_commands=||')"

	# translate icinga option into debconf boolean
	# (this is better than using a select in debconf with Choices-C,
	# otherwise all translators would need to translate 'yes' and 'no').

	case $check_external_commands in
		0)
			check_external_commands=false
			;;

		1)
			check_external_commands=true
			;;
	esac

	db_set icinga/check_external_commands $check_external_commands
    db_input high icinga/check_external_commands || true
    db_go || true
fi


